## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df_new = application_df.drop(columns=["EIN", "NAME"])
df_new.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
print(df_new.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_count = (df_new['APPLICATION_TYPE'].value_counts())
application_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(application_count[application_count < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Look at CLASSIFICATION value counts for binning
classification_count = df_new['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [16]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count[classification_count > 10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_count[classification_count < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_with_dummies_df = pd.get_dummies(application_df)

In [19]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=27)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 40
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 40)                784560

 dense_16 (Dense)            (None, 30)                1230

 dense_17 (Dense)            (None, 1)                 31

=================================================================
Total params: 785,821
Trainable params: 785,821
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4899 - accuracy: 0.7601
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1682 - accuracy: 0.9375
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0985 - accuracy: 0.9610
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0939 - accuracy: 0.9614
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0924 - accuracy: 0.9616
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0906 - accuracy: 0.9624
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0904 - accuracy: 0.9626
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0901 - accuracy: 0.9624
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0896 - accuracy: 0.9623
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0881 - accuracy: 0.9638
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0876 - accuracy: 0.9639
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0870 - accuracy: 0.9643
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0865 - accuracy: 0.9641
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0857 - accuracy: 0.9647
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0853 - accuracy: 0.9647
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0850 - accuracy: 0.9650
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0847 - accuracy: 0.9657
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0842 - accuracy: 0.9655
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0833 - accuracy: 0.9653
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0832 - accuracy: 0.9661
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0821 - accuracy: 0.9658
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0822 - accuracy: 0.9656
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0817 - accuracy: 0.9666
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0814 - accuracy: 0.9671
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0812 - accuracy: 0.9664
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0805 - accuracy: 0.9671
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0800 - accuracy: 0.9675
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0799 - accuracy: 0.9676
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0793 - accuracy: 0.9674
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0789 - accuracy: 0.9682
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0786 - accuracy: 0.9674
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0783 - accuracy: 0.9680
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0775 - accuracy: 0.9686
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0772 - accuracy: 0.9681
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0773 - accuracy: 0.9686
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0767 - accuracy: 0.9687
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0764 - accuracy: 0.9691
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0757 - accuracy: 0.9692
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0759 - accuracy: 0.9687
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0753 - accuracy: 0.9694
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0744 - accuracy: 0.9695
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0748 - accuracy: 0.9695
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0746 - accuracy: 0.9697
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0738 - accuracy: 0.9698
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0738 - accuracy: 0.9700
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0736 - accuracy: 0.9700
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0737 - accuracy: 0.9696
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0729 - accuracy: 0.9701
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0730 - accuracy: 0.9708
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0728 - accuracy: 0.9704
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0724 - accuracy: 0.9704
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0719 - accuracy: 0.9703
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0722 - accuracy: 0.9704
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0716 - accuracy: 0.9706
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0720 - accuracy: 0.9707
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0710 - accuracy: 0.9710
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0716 - accuracy: 0.9711
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0709 - accuracy: 0.9714
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0708 - accuracy: 0.9714
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0709 - accuracy: 0.9706
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0706 - accuracy: 0.9712
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0706 - accuracy: 0.9712
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0703 - accuracy: 0.9712
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0701 - accuracy: 0.9716
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0699 - accuracy: 0.9713
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0699 - accuracy: 0.9719
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0696 - accuracy: 0.9713
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0694 - accuracy: 0.9712
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0697 - accuracy: 0.9714
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0694 - accuracy: 0.9714
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0691 - accuracy: 0.9717
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0690 - accuracy: 0.9717
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0692 - accuracy: 0.9716
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0687 - accuracy: 0.9710
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0690 - accuracy: 0.9712
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0685 - accuracy: 0.9718
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0685 - accuracy: 0.9715
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0687 - accuracy: 0.9717
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0682 - accuracy: 0.9720
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0682 - accuracy: 0.9716
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0680 - accuracy: 0.9719
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0681 - accuracy: 0.9724
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0677 - accuracy: 0.9722
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0678 - accuracy: 0.9722
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0675 - accuracy: 0.9720
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0674 - accuracy: 0.9722
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0672 - accuracy: 0.9719
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0677 - accuracy: 0.9727
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0679 - accuracy: 0.9719
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0670 - accuracy: 0.9725
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0672 - accuracy: 0.9727
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0675 - accuracy: 0.9727
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0674 - accuracy: 0.9722
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0668 - accuracy: 0.9721
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0670 - accuracy: 0.9725
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0668 - accuracy: 0.9729
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0667 - accuracy: 0.9725
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0666 - accuracy: 0.9727
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0669 - accuracy: 0.9721
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0664 - accuracy: 0.9726

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7106 - accuracy: 0.7673 - 287ms/epoch - 1ms/step
Loss: 0.7106172442436218, Accuracy: 0.7673469185829163

In [30]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")